<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">isp.pl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li th:class="${activePage == 'news'} ? 'navbar-nav active' : 'navbar-nav'">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/news}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/offer}">Offer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order}">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>